{
	# Enable FrankenPHP
	frankenphp
}

*:80 {
    root * /app/moodle
	php_server
    file_server

	# Handle Moodle JavaScript files
    @jsFiles path /lib/javascript.php/*
    handle @jsFiles {
        rewrite * /lib/javascript.php{path}
        php
    }

	# Handle Moodle JavaScript files
    @jsFilesRequire path /lib/requirejs.php/*
    handle @jsFilesRequire {
        rewrite * /lib/requirejs.php{path}
        php
    }

	# Handle Moodle theme files
    @themeFilesStyles path /theme/styles.php/*
    handle @themeFilesStyles {
        rewrite * /theme/styles.php{path}
        php
    }

	# Handle Moodle theme files
    @themeFilesImages path /theme/image.php/*
    handle @themeFilesImages {
        rewrite * /theme/image.php{path}
        php
    }

	# Handle Moodle theme files
    @themeFilesFonts path /theme/font.php/*
    handle @themeFilesFonts {
        rewrite * /theme/font.php{path}
        php
    }
}